.App {
  text-align: center;

}
.main{
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  justify-content: space-evenly;


}

header {
  display: flex;
  justify-content: start;
}
.food-area{
  width: 33%;
}
.user-area{

  width: 33%;
}
.food-item{
  margin-top: 10px;
  background-color: #2D82B7;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
} 
.user-area .food-item :hover{
  background-color: #EB8A90;
}

.delete-button{
  background-color: red;
  border: none;
}

.food-input{
  width: 33%;
}

.edit-food input{
  width: 20px;
}